<h1>Password Generator</h1>

<div>
  <label>Enter Length</label>
  <input (input)="onLengthChange($event.target.value)">
</div>

<div>
  <label>User Letters</label>
  <input (change)="onLetterChange()" type="checkbox">
</div>

<div>
  <label>User Numbers</label>
  <input (change)="onNumberChange()" type="checkbox">
</div>

<div>
  <label>User Symbols</label>
  <input (change)="onSymbolChange()" type="checkbox">
</div>

<div>
  <button (click)="onButtonClick()">Generate!</button>
</div>

<div>
  <label>Your Password</label>
  <input [value]="password">
</div>
